body {
    background: #020617;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #0f172a;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

.erro {
    color: #ef4444;
    margin-bottom: 10px;
    font-size: 14px;
}